<div class="container">
    <div class="left">
        <h1>EventPlatform</h1>
    </div>
    <div class="right">
        <div class="left1">
            <a href="">
                <h3>Instagram</h3>
            </a>
            <a href="">
                <h3>WhatsApp</h3>
            </a>
            <a href="">
                <h3>X - Twitter</h3>
            </a>
        </div>  
        <div class="right1">
            <h3 routerLink="/event-plan">Planear un evento?</h3>
            <h3>Explorar</h3>
            <h3>Prfil</h3>
        </div>
    </div>
</div>
<div class="copyright">
    <h2>EventPlatform.</h2>
</div>