<div class="container">
    <h1 class="h1">Sponsors-Partners</h1>
    <div class="down">
        <div class="one">
            <h2>Musica <span>:</span> </h2>
            <p>Spotify</p>
            <p>Youtube</p>
            <p>Apple Music</p>
            <p>Bose</p>
        </div>

        <div class="one">
            <h2>Tecnologia digital <span>:</span> </h2>
            <p>Google</p>
            <p>Microsoft</p>
            <p>AWS</p>
            <p>Adobe</p>
            <p>GitHub</p>
        </div>
        <div class="one">
            <h2>Negocios <span>:</span> </h2>
            <p>LinkedIn</p>
            <p>Microsoft</p>
            <p>Oracle</p>
            <p>Salesforce</p>
        </div>
        <div class="one">
            <h2>Festivaless y Celebraciones <span>:</span> </h2>
            <p>cocaCola</p>
            <p>Netflix</p>
            <p>Starbucks</p>
            <p>Instagram</p>
            <p>Cannon</p>
        </div>
        <div class="one">
            <h2>Meditacion y bienestaar <span>:</span> </h2>
            <p>Headspace</p>
            <p>Adidas</p>
            <p>Hilda Strauss</p>
            <p>Nike Training Club</p>
        </div>
        <div class="one">
            <h2>Deportes <span>:</span> </h2>
            <p>Nike</p>
            <p>Puma   </p>
            <p>Gatorade</p>
            <p>Decathlon</p>
            <p>ESPN</p>
        </div>
    </div>
</div>

<div class="container-2">
    <h1>Quiere estar actualizado ? </h1>
    <div>
        <input type="text" placeholder="Email...">
        <button>Click acá!</button>
    </div>
</div>